@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;&display=swap');

@font-face {
	font-family: madeTommyBold;
	src: url(../fonts/made_tommy/made_tommy_bold.otf);
}

@font-face {
	font-family: madeTommyRegular;
	src: url(../fonts/made_tommy/made_tommy_regular.otf);
}

@font-face {
	font-family: madeTommyLight;
	src: url(../fonts/made_tommy/made_tommy_light.otf);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

:root {
	--text-glitch-shadow: -2px -1px 1px purple,
				      2px  1px 1px cyan,
				      0px  0px 5px cyan;
	--primary-color: #9900ff;

}

@media (prefers-reduced-motion: no-preference) {
	* {
		scroll-behavior: smooth;
	}
}

::-webkit-scrollbar {
	width: 14px;
	background-color: #151515;
}

::-webkit-scrollbar-track {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-thumb {
	background-color: #373737;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #353535;
}


body {
	color: white;
}

#container {
	display: flex;
}

.default-button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 10px 15px;
	width: 120px;
	background-color: #7a04c9;
	margin: 10px;
	border-radius: 12px;
	font: 15px 'Inter', sans-serif;
	transition: all .2s;
}

.default-button svg {
	margin-right: 10px;
}

.default-button:hover {
	background-color: var(--primary-color);
	transform: translateY(-2px);
	box-shadow: 0px 3px 0px rgba(93, 3, 161, 1);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 60px;
	height: 100vh;
	background-color: black;
	border-right: 2px solid var(--primary-color);
	box-shadow: 2px 0px 10px rgba(0, 0, 0, .4);
	z-index: 1000;	
	transition: all .2s;
}

#header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 0;
	height: 100%;
}

#hamburger-button {
	cursor: pointer;
}

.hamburger-line {
	width: 30px;
	height: 3px;
	margin: 5px 0px;
	background-color: white;
	border-radius: 3px;
}

#navigation-menu {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

#navigation-menu > ul li {
	padding: 17px 0;
	text-align: center;
}

.menu-links {
	color: white;
	position: relative;
}

.menu-links:hover {
	color: cyan;
}

.link-toast {
	position: absolute;
	top: -10px;
	left: 29px;
	width: 0px;
	padding: 9px 0;
	border: 2px solid var(--primary-color);
	border-left: none;
	border-radius: 0px;
	background-color: #101010;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
	overflow: hidden;
	transition: .2s all;
	
}

.link-toast-text {
	color: white;
	font: 17px 'madeTommyRegular', sans-serif;
	letter-spacing: 2px;
	white-space: nowrap;
	opacity: 0;
	transition: all .4s ease-in;
}

.menu-links:hover > .link-toast {
	width: 140px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.menu-links:hover > .link-toast > .link-toast-text {
	opacity: 1;
}

main {
	width: 100%;
}

.section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	background-color: #191919;
	width: 100%;
	min-height: 100vh;
	padding: 0 5rem 0 calc(5rem + 60px);
}

.section-title {
	text-shadow: var(--text-glitch-shadow);
	font: 3rem 'madeTommyBold', sans-serif;
	text-transform: uppercase;
	margin: 1rem;
	letter-spacing: 2px;
}

#home-section {
	align-items: center;
	border-bottom: 2px solid var(--primary-color);
	position: relative;
}

#logo-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

#logo {
	width: 40%;
	min-width: 326px;
	height: 100%;
	margin-top: 5px;
	z-index: 999;
}

#logo-subtitle {
	font: 1.5rem "madeTommyBold", sans-serif;
	color: white;
	position: relative;
	bottom: 10px;
}

#logo-subtitle::before {
	content: " ";
	background-color: white;
	width: calc(100% * 1.8);
	height: 3px;
	border-radius: 12px;
	position: absolute;
	top: -4px;
	left: -38%;
}

#logo-subtitle::after {
	content: " ";
	background-color: white;
	width: calc(100% * 1.8);
	height: 3px;
	border-radius: 12px;
	position: absolute;
	bottom: -6px;
	left: -38%;
}

@media only screen and (max-width: 956px){
	#logo-subtitle::before {
		content: " ";
		background-color: white;
		width: 100%;
		height: 3px;
		border-radius: 12px;
		position: absolute;
		top: -4px;
		left: 0px;
	}

	#logo-subtitle::after {
		content: " ";
		background-color: white;
		width: 100%;
		height: 3px;
		border-radius: 12px;
		position: absolute;
		bottom: -6px;
		left: 0px;
	}
}

@media only screen and (max-width: 400px){
	#logo-subtitle {
		font-size: 1rem;
	}
}

#advice-container {
	width: 45%;
	min-width: 322px;
	text-align: center;
	position: absolute;
	bottom: 40%;
	word-break: break-word;
}

#advice-container h2 {
	font: 1.3rem "madeTommyBold", sans-serif;
	color: #353535;
}

#advice-text {
	font: bold 15px 'Source Code Pro', sans-serif;
	padding: 10px 0;
	text-decoration: underline;
	color: #505050;
}

#scroll-indicator-container {
	position: absolute;
	bottom: 0;
	padding: 10px;
}

#about-me-section {
	border-bottom: 2px solid var(--primary-color);
}

#about-me-container {
	width: 100%;
	min-width: 330px;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
}

#profile-header {
	width: 100%;
	height: 250px;
	border: 2px solid var(--primary-color);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-color: black;
	position: relative;
}

#profile-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 15px;
}

#profile {
	overflow: hidden;
	width: 210px;
	height: 210px;
	border: 2px solid var(--primary-color);
	border-radius: 12px;
}

#profile img {
	width: 100%;
}

#sub-profile-container {
	display: flex;
	gap: 20px;
	margin: 10px 0;
}

#skill-box-container {
	
}

.skill-drawer {
	width: 150px;
	height: 150px;
	border: 2px solid var(--primary-color);
	border-right: none;
	position: relative;
	z-index: 999;
}

.skill-drawer:nth-child(1){
	margin-bottom: 10px;
}

.skill-drawer:nth-child(2){
	margin-top: 10px;
	border-bottom-left-radius: 12px;
}

.drawer-banner {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	box-shadow: 5px 0px 10px rgba(0, 0, 0, .5);
	border-bottom-left-radius: 12px;
	z-index: 999;
}

.drawer-banner p {
	font: 1.3rem 'madeTommyRegular', sans-serif;
}

.cube-drawer {
	width: 155px;
	border-top: 1px solid #5e029c;
	border-bottom: 1px solid #5e029c;
	border-right: 10px solid #5e029c;
	border-bottom-left-radius: 12px;
	height: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
	transition: .2s all;
}

@media only screen and (min-width: 870px){
	.skill-drawer:hover .cube-drawer {
		width: 710px;	
	}
}


.cube {
	width: 140px;
	height: 140px;
	border-left: 1px solid #5e029c;
	border-right: 1px solid #5e029c;
	background-color: #574961;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cube img {
	width: 80px;
	filter: invert(100%);
}

#skill-popup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	z-index: 1002;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#popup-container h1 {
	font: 1.3rem "madeTommyRegular", sans-serif;
}

#popup-container button {
	padding: 5px 20px;
	border: 2px solid darkred;
	color: white;
	background-color: red;
	font-size: 17px;
	margin-top: 15px;
}

#profile-description-container {
	border: 2px solid var(--primary-color);
	border-bottom-right-radius: 12px;
	width: 100%;
	height: 310px;
	background-color: black;
}

#prompt {
	padding: 8px 10px 10px 10px;
}

.prompt-line {
	margin: 2px 0;
	font: 14px 'Source Code Pro', monospace;
	color: #e3e3e3;
	opacity: 0;
	transition: .2s all;
}

.system-text {
	color: green;
	font-size: 15px;
}

.string-text {
	color: #ffde82
}

.undefined-text {
	color: grey;
}

.number-text {
	color: #5780c9;
}

.loading-text {
	animation: blink-1 3s ease-out infinite;
}


/* ----------------------------------------------
 * Generated by Animista on 2023-1-18 17:13:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@media only screen and (max-width: 786px){
	#profile-container {
		justify-content: center;
	}

	#sub-profile-container {
		flex-wrap: wrap;
		justify-content: center;
	}

	#skill-box-container {
		display: flex;
		align-items: center;
	}

	.skill-drawer {
		margin: 10px;
	}

	.skill-drawer:nth-child(2){
		border-bottom-left-radius: 0px;
	}

	#profile-description-container {
		border-bottom-left-radius: 12px;
	}
}

@media only screen and (max-width: 500px){
	#about-me-container {
		padding: 0;
	}
}

#projects-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-bottom: 2px solid var(--primary-color);
}

#projects-grid {
	display: grid;
	grid-template-columns: repeat(3, 350px);
	gap: 30px;
	margin-top: 30px;
}

.projects-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #454545;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 200px;
	padding: 8px;
	box-shadow: 0px 5px 0px rgba(0, 0, 0, .5), 0px 10px 10px rgba(0, 0, 0, .3);
	border-radius: 12px;
	transition: all .3s;
}

.disabled-item {
	opacity: .3;
	cursor: not-allowed;
}

.projects-item:not(.disabled-item):hover {
	background-color: var(--primary-color);
	transform: translateY(-8px);
	box-shadow: 0px 5px 0px rgba(93, 3, 161, .5), 0px 10px 25px rgba(0, 0, 0, .6);
}

.project-banner {
	background-color: grey;
	width: 100%;
	height: 100%;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .5);
	border-radius: 8px;
	overflow: hidden;
}

.banner-image {
	width: 100%;
	height: 100%;
	filter: grayscale(30%);
	transition: all .2s;
}

.projects-item:hover .banner-image {
	filter: contrast(100%);
}

.project-info {
	display: flex;
	justify-content: space-between;
	color: white;
	position: absolute;
	bottom: 0px;
	background-color: #232929;
	width: 100%;
	height: 30%;
	padding: 10px;
	border-top-left-radius: 30px;
	box-shadow: -2px -3px 5px rgba(0, 0, 0, .4);
	transition: all .2s;
}

.projects-item:not(.disabled-item):hover .project-info {
	background-color: var(--primary-color);
}

.project-description {
}

.project-title {
	font: 1.2rem 'Noto sans', sans-serif;
	color: white;
}

.project-text {
	font: 13px 'Inter', sans-serif;
	opacity: .7;
}

.project-links {
	display: flex;
	align-items: flex-end;
}

.project-link {
	text-decoration: none;
	color: white;
	background-color: #303030;
	font: 14px italic, sans-serif;
	padding: 5px;
	margin: 0px 3px;
	border-radius: 3px;
	border: 1px solid #202020;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
	transition: all .2s
}

.projects-item:not(.disabled-item):hover .project-link {
	background-color: #7f00d4;
	border: 1px solid #6203a1;
}

.disabled-link {
	cursor: not-allowed;
}

.project-link:not(.disabled-link):hover {
	color: #41026b;
}

#see-more-projects {
	margin: 2rem 0;
}

#see-more-projects svg {
	margin: 0 0 0 10px;
}

@media only screen and (max-width: 1232px){
	#projects-grid {
		grid-template-columns: repeat(2, 350px);
		gap: 20px;
	}
}

@media only screen and (max-width: 786px){
	header {
		display: none;
	}

	.section {
		padding: 0 5rem;
	}

	#projects-grid {
		grid-template-columns: 350px;
	}
}

#contact-section {
	justify-content: center;
	background-color: #252525;
}

#socials-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#or-send-mail {
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	margin: 2rem 0;
	letter-spacing: 3px;
	position: relative;
}

#or-send-mail::before {
	content: ' ';
	position: absolute;
	bottom: -10px;
	left: 25%;
	background-color: white;
	width: 50%;
	height: 2px;
	border-radius: 12px;
}

form {
	position: relative;
	width: 80%;
	max-width: 720px;
	min-width: 330px;
}

.input {
	width: 100%;
	height: 41px;
	padding-left: 15px;
	border: none;
	font-family: arial, sans-serif;
	border: 1px solid #555555;
	border-radius: 12px;
	background-color: #353535;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .6);
	color: rgba(180, 180, 180, 1);
	outline: none;
	transition: all .2s;
}

.input:focus {
	color: white;
}

.input::-webkit-input-placeholder {
	color: grey;
}

.side-by-side {
	display: flex;
}

.input-container {
	margin: 3px;
	position: relative;
}

.side-by-side .input-container {
	width: 100%;
}

#text-area {
	height: 166px;
	padding-top: 15px;
	margin-top: 2.5px;
}

#submit-form-button {
	margin-left: 3px;
	border: none;
	background-color: #454545;
	cursor: pointer;
	text-transform: uppercase;
	font: 15px 'madeTommyRegular', sans-serif;
	letter-spacing: 1px;
	overflow: hidden;
}

#submit-form-button svg {
	margin: 0;
	margin-left: 10px;
	transition: .1s;
}

#submit-form-button:hover {
	background-color: #564661;
	box-shadow: 0px 3px 0px #3d2a4a;
}

#submit-form-button:hover svg {
	transform: translateX(3px) translateY(-3px);
}

#submit-form-button:active {
	transform: translateY(0px);
	box-shadow: 0px 0px 0px rgba(93, 3, 161, 1);
}

#submit-form-button:active svg {
	transform: translateX(30px) translateY(-30px);
}

.toast-container {
	position: absolute;
	top: -58px;
	left: 10px;
	display: none;
}

.toast-content {
	position: relative;
	background-color: red;
	padding: 10px 10px;
	min-width: 200px;
	border-left: 5px solid darkred;
}

.toast-detail::before {
	content: ' ';
	position: absolute;
	left: 5px;
	bottom: -10px;
	background-color: red;
	width: 20px;
	height: 20px;
	transform: rotateZ(45deg);
}

.toast-text {
	text-align: left;
	font: 15px 'Inter', sans-serif;
	color: white;
}

#form-msg-feedback {
	position: relative;
	width: 100%;
}

.form-toast {
	left: calc(50% - 110px);
}

#sucess-form-toast .toast-content {
	background-color: green;
	border-left: 5px solid darkgreen;
}


@media only screen and (max-width: 786px){
	.side-by-side {
		display: initial;
	}

	.side-by-side .input-container {
		width: auto;
		margin: 5px;
	}
}

footer {
	padding: 10px 0;
	background-color: black;
	border-top: 2px solid var(--primary-color);
	height: 7vh;
}

#footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#footer-container p {
	font: 15px 'madeTommyLight', sans-serif;
}

#footer-container p a {
	color: cyan;
}

#footer-container p a:hover {
	text-decoration: underline;
}




